<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzx.opac.persistence.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.hzx.opac.domain.Question">
        <id column="question_id" jdbcType="INTEGER" property="questionId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="question_desc" jdbcType="VARCHAR" property="questionDesc" />
        <result column="question_type" jdbcType="INTEGER" property="questionType" />
        <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        question_id, title, question_desc, question_type, owner_id, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_question
        where question_id = #{questionId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_question
        where question_id = #{questionId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.hzx.opac.domain.Question" useGeneratedKeys="true"
        keyProperty="questionId" keyColumn="question_id">
        insert into t_question (title, question_desc,
        question_type, owner_id, create_time,
        update_time)
        values (#{title,jdbcType=VARCHAR}, #{questionDesc,jdbcType=VARCHAR},
        #{questionType,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
        <selectKey keyProperty="questionId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.hzx.opac.domain.Question">
        insert into t_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                question_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="questionDesc != null">
                question_desc,
            </if>
            <if test="questionType != null">
                question_type,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="questionDesc != null">
                #{questionDesc,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                #{questionType,jdbcType=INTEGER},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hzx.opac.domain.Question">
        update t_question
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="questionDesc != null">
                question_desc = #{questionDesc,jdbcType=VARCHAR},
            </if>
            <if test="questionType != null">
                question_type = #{questionType,jdbcType=INTEGER},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where question_id = #{questionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hzx.opac.domain.Question">
        update t_question
        set title = #{title,jdbcType=VARCHAR},
        question_desc = #{questionDesc,jdbcType=VARCHAR},
        question_type = #{questionType,jdbcType=INTEGER},
        owner_id = #{ownerId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where question_id = #{questionId,jdbcType=INTEGER}
    </update>
</mapper>